.choose {
  padding: 110px 0 0;
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    .red {
      width: 23px;
      height: 79px;
      border-radius: 10px;
      background: #ff0404;
      margin-bottom: 33px;
    }
    p {
      font-family: Inter;
      font-size: 16px;
      font-weight: 300;
      line-height: 19.36px;
      text-align: center;
      //   max-width: 1250px;
      color: #000;
      padding-bottom: 110px;
    }
    .cards {
      padding-top: 110px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      flex-wrap: wrap;
      .card {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        flex-direction: column;
        svg {
          font-size: 40px;
          color: #ff0000;
        }
        h2 {
          font-family: Lalezar;
          font-size: 48px;
          font-weight: 400;
          line-height: 60px;
          text-align: center;
          color: #000;
          padding: 24px 0 20px;
        }
        p {
          max-width: 339px;
          font-family: Inter;
          font-size: 18px;
          font-weight: 400;
          line-height: 21.78px;
          text-align: center;
          color: #000;
        }
      }
    }
  }
  @media only screen and (max-width: 1100px) {
    .content {
      .cards {
        justify-content: center;
      }
    }
  }
}
