.inputs {
  padding-top: 120px;
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    form {
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: center;
      flex-direction: column;
      button {
        background: #d62828;
        color: #fff;
        padding: 5px 10px;
        border-radius: 8px;
        width: 130px;
      }
      input {
        outline: none;
        padding: 10px;
        width: 100%;
      }
      textarea {
        outline: none;
        resize: none;
        padding: 10px;
      }
    }
  }
}
